<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>Add Product</title>
  </head>
  
  <body>
    <center><h1 >Add product</h1></center>
    <div class="hedimg">
      <img src="../image/Shopping-online.jpg" alt="" style="
      height: 15em;
      width: 100%;
  ">
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="./index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./login.html">login</a>
      </li>
    </ul>
    <div class="FormContainer">
      <form class ="myForm"action="/add">
        <label for="">Marque De Produit: </label>
        <input type="text" name="marque">
        <label for="">Model De Produit: </label>
        <input type="text" name="model">        
        <label for="">Prix De Produit: </label>
        <input type="text" name="prix">
        <label for="">Description De Produit: </label>
        <input type="text" name="description">
        <button type="submit" style="
        width: 30%;
        margin: 20px auto;
        padding: 10px;
        background-color: red;
        border: 1px;
        border-radius: 10px;
    ">Ajouter</button>
      </form>
    </div>
  </body>
</html>
