<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>

    <center><h1>Product Page</h1></center>
    <div class="hedimg">
      <img
        src="../image/Shopping-online.jpg"
        alt=""
        style="height: 15em; width: 100%"
      />
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="./index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./login.html">login</a>
      </li>
    </ul>
    <section class="prodSection">
      <img src="../image/{% image %}" alt="pc_image">
      <div>
          <h2>{% model %}</h2>
          <h3>{% prix %}</h3>
          <p>{% description %}</p>
      </div>
    </section>
   
  </body>
</html>
